*{
    margin: 0;
    padding: 0;
    
}

h1 {
    margin: 2.5rem 0 2.5rem 0;
    color: aliceblue;
}

body {
    background-color: rgb(20, 133, 118)
}

.box, form {
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 15.625rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    padding: 0 0.9rem 0 0.9rem;
}

button {
    width: 9.375rem;
    height: 1.5625rem;
    border-radius: 0.6rem;
}
